#dashboard .list_item {
	padding: 20px;
	background-color: #FFF;
	box-shadow: 5px 5px 2px #dad7d7;
	margin-bottom: 10px;
}
#dashboard .list_item .user {
	font-size: 170%;
	margin-bottom: 10px;
	float: left;
}

#dashboard .list_item ul {
	list-style-type:none;
	padding: 0;
	margin: 0;
}
#dashboard .list_item ul li a:link, #dashboard .list_item ul li a:visited {
	background-color: #3cb878;
	color: #FFF;
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 5px;
	text-decoration: none;
	font-size: 150%;
}
#dashboard .list_item ul li a:hover, #dashboard .list_item ul li a:active {
	background-color: #37ac70;
}
#dashboard .list_item .num_alerts {
	border-radius: 50%;
	height: 45px;
	line-height: 45px;
	width: 45px;
	text-align: center;
	background-color: #dbeae2;
	color: #288f5a;
	margin-right: 10px;
	float: left;
}
#dashboard .list_item .num_label {
	float: left;
	height: 45px;
	line-height: 45px;
	font-size: 140%;
}
#dashboard .list_item .num_label a:link, #dashboard .list_item .num_label a:visited {
	color: #545454;
	text-decoration: none;
}
#dashboard .list_item .num_label a:hover, #dashboard .list_item .num_label a:active {
	font-weight: bold;
}

#dashboard .list_item .config {
	float: right;
	height: 45px;
	line-height: 45px;
	font-size: 120%;
}

#dashboard .list_item .config a:link, #dashboard .list_item .config a:visited {
	text-decoration: none;
	color: #545454;
}
#dashboard .list_item .config a:hover, #dashboard .list_item .config a:active {
	font-weight: bold;
}