{% extends "base.html" %}

{% block title %}Grained. Add Alert{% endblock %}

{% block additional_includes %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
<script>
function show_menu() {
	var el = document.getElementById("nav_all");
	
	el.style.display = (el.style.display != 'none' ? 'none' : 'block' );
}
function add_key_word() {
	var key_word = document.getElementById("key_words").value;
	var current_list = document.getElementById("key_words_list").value;
	
	if (key_word != "") {
		if (current_list != "") {
			current_list = current_list + "," + key_word;
		} else {
			current_list = key_word;
		}
		
		document.getElementById("key_words").value = "";
		document.getElementById("key_words_list").value = current_list;
		
		var list = current_list.split(",");
		var list_html = "<ul>";
		
		for (i = 0; i < list.length; ++i) {
			list_html = list_html + "<li><a href='javascript:void(0);' onclick='remove_word("+i+")'>" + list[i] + " x</a></li>";
		}
		list_html = list_html + "</ul>";
		
		document.getElementById("word_list").innerHTML = list_html;
		
		document.getElementById("key_words_list").value = current_list;
	}
}

function update() {
	var current_list = document.getElementById("key_words_list").value;
	
	if (current_list == "") {
		alert("You must add at least one key word");
	} else {
		Dajaxice.grain.edit_alert(Dajax.process,{'follow_user':'{{follow_user}}','key_words':current_list});
	}
}

function remove_word(num) {
	Array.prototype.remove = function(from, to) {
	  var rest = this.slice((to || from) + 1 || this.length);
	  this.length = from < 0 ? this.length + from : from;
	  return this.push.apply(this, rest);
	};
	
	var current_list = document.getElementById("key_words_list").value;
	
	var list = current_list.split(",");
	list.remove(num);
	
	var list_html = "<ul>";
	
	var list_str = "";
	for (i = 0; i < list.length; ++i) {
		list_html = list_html + "<li><a href='javascript:void(0);' onclick='remove_word("+i+")'>" + list[i] + " x</a></li>";
		
		if (i > 0) {
			list_str = list_str + "," + list[i];
		} else {
			list_str = list[i];
		}
	}
	list_html = list_html + "</ul>";
	
	document.getElementById("word_list").innerHTML = list_html;
	document.getElementById("key_words_list").value = list_str;
}

window.onload=function() {
	var key_words = "{{key_words}}";
	document.getElementById("key_words_list").value = key_words;
	
	var list = key_words.split(",");
	var list_html = "<ul>";
	
	for (i = 0; i < list.length; ++i) {
		list_html = list_html + "<li><a href='javascript:void(0);' onclick='remove_word("+i+")'>" + list[i] + " x</a></li>";
	}
	list_html = list_html + "</ul>";
	
	document.getElementById("word_list").innerHTML = list_html;
};

</script>
{% endblock %}

{% block nav %}
<div id="menu_button"><a href="javascript:void(0);" onclick="show_menu();">Menu</a><div class="clear"></div></div>
<div id="nav_all">
<div id="nav_left">
<ul>
	<li><a href="/dashboard/">Dashboard</a></li>
	<li><a href="/add/">Add Alert</a></li>
</ul>
</div>
<div id="nav_right">
<ul>
	<li><a href="/settings/">Settings</a></li>
	<li><a href="/logout/">Logout</a></li>
</ul>
</div>
</div>
{% endblock %}

{% block content %}
<h1>Edit Alert</h1>
<div id="dashboard">
	<div class="block" id="block">
		<div id="status_{{follow_user}}"></div>
		<div class="label"><h4>User</h4></div>
		<div class="user">@{{follow_user}}</div>
		<div class="clear"></div>
		<p> Press enter after typing each key word</p>
		<label for="key_words">Key Words</label>
		<input type="text" id="key_words" name="key_words" onkeydown="if (event.keyCode == 13) add_key_word()"/>
		<input type="hidden" id="key_words_list" name="key_words_list" />
		<div id="word_list" style="display: block;"></div>
		<div class="clear"></div>
		<div class="button"><a href="javascript:void(0);" onclick="update();">Update</a></div>
	</div>

</div>
{% endblock %}